{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
    <h2 class="archive-title">Archives</h2>
    {% for year, year_articles in dates|groupby('date.year')|reverse %}
        <h3 class="archive-year">{{ year }}</h3>
        <ul class="archive-list">
            {% for article in year_articles|reverse %}
                <li>
                    <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%-d %b') }}</time>
                    &mdash; <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
