{% extends "base.html" %}
{% import "includes/post_card.html" as post_card %}

{% block content %}
    {% block content_title %}{% endblock %}

    {% for article in articles_page.object_list %}
        {{ post_card.render_post(article) }}
    {% endfor %}

    {% if articles_page.has_previous() or articles_page.has_next() %}
    <nav class="pagination">
        {% if articles_page.has_previous() %}
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Newer</a>
        {% else %}
            <span></span>
        {% endif %}
        {% if articles_page.has_next() %}
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older &rarr;</a>
        {% endif %}
    </nav>
    {% endif %}
{% endblock %}
