{% macro render_post(article, full=True, show_source_link=False) %}
<article class="post">
    <h2 class="post-title">
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </h2>
    <div class="post-meta">
        <time datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%-d %B %Y') }}</time>
        {% if article.category %}
            | <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% endif %}
        {% if article.tags %}
            | Tags:
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="post-content">
        {{ article.content if full else article.summary }}
    </div>
    {% if show_source_link %}
        <p class="post-source-link">
            {% if article.markdown_url %}
                <a href="{{ SITEURL }}/{{ article.markdown_url }}">Markdown source</a>
            {% endif %}
            {% if article.relative_source_path %}
                {% if article.markdown_url %}|{% endif %}
                <a href="{{ SITEURL }}/source?p=An_Algorithmic_Lucidity.git;a=history;f=content/{{ article.relative_source_path }};hb=HEAD">post revision history</a>
            {% endif %}
        </p>
    {% endif %}
</article>
{% endmacro %}
